<h1>Eat Da Burger!</h1>

<div class="container">
    <div class="left-col">
        {{#each burgers}}
            {{#unless devoured}}
                <p data-id="{{id}}">{{id}}. {{burger_name}}</p>
            {{/unless}}
        {{/each}}
    </div>

    <div class="right-col">
        {{#each burgers}}
            {{#if devoured}}
                <p data-id="{{id}}">{{id}}. {{burger_name}}</p>
            {{/if}}
        {{/each}}
       
    </div>
</div>

<div class="container add-burger">
    <form>
        <div class="form-group">
            <label for="burger">Burger Name:</label>
            <input type="text" id="burger" name="name">
        </div>

        <button type="submit">Add Burger</button>
    </form>
</div>