<h1>Eat Da Burger!</h1>

<div class="container">
    <div class="left-col">
        {{#each burgers}}
        <ul>
            <li>{{id}}</li>
            <li>{{burger_name}}</li>
            <li>{{devoured}}</li>
        </ul>
        {{/each}}
    </div>

    <div class="right-col">
        {{#each burgers}}
        <ul>
            <li>{{id}}</li>
            <li>{{burger_name}}</li>
            <li>{{devoured}}</li>
        </ul>
        {{/each}}
    </div>

</div>