<h1>Eat Da Burger!</h1>

<div class="container">
    <div class="left-col">
        {{#each burgers}}
            {{#unless devoured}}
                <div>
                    <p data-id="{{id}}">{{id}}. {{burger_name}} <button class="update" data-id="{{id}}">Devour!</button></p>
                </div>
            {{/unless}}
        {{/each}}
    </div>

    <div class="right-col">
        {{#each burgers}}
            {{#if devoured}}
                <p class="eaten" data-id="{{id}}">{{id}}. {{burger_name}}</p>
            {{/if}}
        {{/each}}
       
    </div>
</div>

<div class="container add-burger">
    <form class="add-form">
        <div class="input">
            <label for="burger">Burger Name:</label>
            <input type="text" id="burger" name="name">
        </div>

        <button type="submit">Add Burger</button>
    </form>
</div>